<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moudles.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moudles.entity.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="views" property="views" />
        <result column="author" property="author" />
        <result column="visible" property="visible" />
        <result column="create_time" property="createTime" />
        <result column="release_time" property="releaseTime" />
        <result column="update_time" property="updateTime" />
        <result column="spare1" property="spare1" />
        <result column="spare2" property="spare2" />
        <result column="spare3" property="spare3" />
        <result column="spare4" property="spare4" />
        <result column="spare5" property="spare5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, views, author, visible, create_time, release_time, update_time, spare1, spare2, spare3, spare4, spare5
    </sql>

</mapper>
