<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moudles.file.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moudles.file.entity.File">
        <id column="id" property="id" />
        <result column="file_name" property="fileName" />
        <result column="file_size" property="fileSize" />
        <result column="create_by" property="createBy" />
        <result column="file_status" property="fileStatus" />
        <result column="file_type" property="fileType" />
        <result column="file_path" property="filePath" />
        <result column="download_frequency" property="downloadFrequency" />
        <result column="flags" property="flags" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="spare1" property="spare1" />
        <result column="spare2" property="spare2" />
        <result column="spare3" property="spare3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_name, file_size, create_by, file_status, file_type, file_path, download_frequency, flags, create_time, update_time, spare1, spare2, spare3
    </sql>

</mapper>
