<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moudles.reply.mapper.ReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moudles.reply.entity.Reply">
        <id column="id" property="id" />
        <result column="reply_id" property="replyId" />
        <result column="article_id" property="articleId" />
        <result column="create_by" property="createBy" />
        <result column="content" property="content" />
        <result column="flags" property="flags" />
        <result column="reply_time" property="replyTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="spare1" property="spare1" />
        <result column="spare2" property="spare2" />
        <result column="spare3" property="spare3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reply_id, article_id, create_by, content, flags, reply_time, create_time, update_time, spare1, spare2, spare3
    </sql>

</mapper>
